@font-face {
    font-family: 'Roboto', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Roboto&display=swap'); /*(../fonts/Roboto-Regular.ttf);*/
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap'); /*(../fonts/Roboto-Regular.ttf);*/
    font-weight: 700;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: open-sans, sans-serif;
    font-size: 16px;
}

/* HEADER */

.header {
    max-width: 1920px;
    width: 100%;
}

.header_note {
    background-color: #000;
    width: 100%;


    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 2px;
    text-align: center;
    color: #fff;
    padding: 7px 0;
}

.header_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 15px 20.54px 15px 11px;
}

.header_logo_svg {
    max-width: 160px;
    width: 100%;
}

.header_nav_ul {
    display: flex;
    justify-content: space-between;
    align-items: center;

    list-style: none;
}

.header_nav_ul-li {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 1px;
    text-align: left;
    text-transform: uppercase;
    color: #000;
}

.header_nav_ul-li:nth-child(n + 2) {
    margin-left: 23px;
}

.header_nav_ul-li_a {
    text-decoration: none;

    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 1px;
    text-align: left;
    color: #000;
}

.login_and_buy {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_icon {
    width: 16.92px;
    margin-right: 11.08px;
}

/* SECTION */

.welcome {
    display: flex;
    flex-direction: column;
    max-width: 1920px;
    width: 100%;

    background-image: url('../img/Welcome_back.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.welcome_div {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: auto;
    margin-top: 53px;
}

.welocme_div_h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 44px;
    font-style: normal;
    font-weight: 400;
    line-height: 51px;
    letter-spacing: 0em;
    text-align: center;

    /* identical to box height, or 115% */

    text-align: center;

    color: #000000;

    padding-bottom: 14px;
}

.welocme_div_p {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 19px;
    /* identical to box height, or 125% */

    text-align: center;
    letter-spacing: 1px;

    color: #000000;
}

.welcome_buttons {
    display: flex;
    margin: auto;
    margin-top: 22px;
}

.welcome_buttons_a {
    display: flex;
    justify-content: center;
    
    width: 201px;
    margin-right: 12px;
    padding: 5px 0;
    
    border-radius: 35px;
    
    background-color: #FF4A32;

    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: center;
    color: #fff;

    text-decoration: none;

}

.welcome_footer {
    display: flex;
    margin-top: 623px;
    padding-top: 18px;
    width: 100%;
    background-color: #000;
}

.welcome_footer_img {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.welcome_footer_img_a:nth-child(n + 2) {
    /*margin-left: 122px;*/
    text-decoration: none;
}