@font-face {
    font-family: 'Roboto', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
    /*(../fonts/Roboto-Regular.ttf);*/
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
    /*(../fonts/Roboto-Regular.ttf);*/
    font-weight: 700;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 1920px;
    width: 100%;
    margin: auto;
    
    font-family: open-sans, sans-serif;
    font-size: 16px;
}

/* HEADER */

.header {
    max-width: 1920px;
    width: 100%;
}

.header_note {
    background-color: #000;
    width: 100%;


    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 2px;
    text-align: center;
    color: #fff;
    padding: 7px 0;
}

.header_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 15px 20.54px 15px 11px;
}

.header_logo_svg {
    max-width: 160px;
    width: 100%;
}

.header_nav_ul {
    display: flex;
    justify-content: space-between;
    align-items: center;

    list-style: none;
}

.header_nav_ul-li {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 1px;
    text-align: left;
    text-transform: uppercase;
    color: #000;
}

.header_nav_ul-li:nth-child(n + 2) {
    margin-left: 23px;
}

.header_nav_ul-li_a {
    text-decoration: none;

    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 1px;
    text-align: left;
    color: #000;
}

.login_and_buy {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_icon {
    width: 16.92px;
    margin-right: 11.08px;
}

/* SECTION */

.welcome {
    display: flex;
    flex-direction: column;
    max-width: 1920px;
    width: 100%;

    background-image: url('../img/Welcome_back.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.welcome_div {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: auto;
    margin-top: 53px;
}

.welocme_div_h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 44px;
    font-style: normal;
    font-weight: 400;
    line-height: 51px;
    letter-spacing: 0em;
    text-align: center;

    /* identical to box height, or 115% */

    text-align: center;

    color: #000000;

    padding-bottom: 14px;
}

.welocme_div_p {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 19px;
    /* identical to box height, or 125% */

    text-align: center;
    letter-spacing: 1px;

    color: #000000;
}

.welcome_buttons {
    display: flex;
    margin: auto;
    margin-top: 22px;
}

.welcome_buttons_a,
.main_wild_a {
    display: flex;
    justify-content: center;

    width: 201px;
    margin-right: 12px;
    padding: 5px 0;

    border-radius: 35px;

    background-color: #FF4A32;

    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: center;
    color: #fff;

    text-decoration: none;

}

.welcome_footer {
    display: flex;
    margin-top: 623px;
    padding-top: 18px;
    width: 100%;
    background-color: #000;
}

.welcome_footer_img {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.welcome_footer_img_a:nth-child(n + 2),
.a {
    /*margin-left: 122px;*/
    text-decoration: none;
}

/* MAIN */

.main {
    display: flex;
    flex-direction: column;

    max-width: 1920px;
    width: 100%;
}

.main_wrap {
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    width: auto;
    margin: auto;
}

.main_describe,
.main_article_a {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: auto;
    margin-top: 36px;

    max-width: 700px;
    padding: 21px 7px;
}

.main_article_a {
    padding: 0;
}

.main_describe::after {
    content: "";
    display: block;
    width: 70px;
    height: 2px;
    background-color: #CFCFCF;
    margin-top: 25px;
}

.main_describe_h2 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 36px;

    /* identical to box height, or 112% */
    text-align: center;

    color: #000;
}

.main_describe_p {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 19px;

    /* or 125% */
    text-align: center;

    color: #000;

    margin-top: 17px;
}

.main_section {
    margin-top: 21px;
}

.main_section_thin,
.main_section_thin_2 {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;

    max-width: 1200px;
    width: 100%;

    margin: 0 auto 20px auto;
}

.main_section_article,
.main_section_article_2 {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 580px;
    width: 100%;
}

.main_section_wild {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    /*align-items: center;*/

    max-width: 1440px;
    width: 100%;

    margin: auto;
}

.article_describe {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    position: absolute;
    z-index: 1;

    margin-top: 44px;
    max-width: 564px;
    min-height: 199px;
    padding: 0 38px 12px;
}



.article_h3 {
    font-family: 'Roboto', sans-serif;
    ;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: center;


    color: #FFFFFF;
}

.article_p {
    font-family: 'Roboto', sans-serif;
    ;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: center;


    color: #FFFFFF;
}

.article_wild_h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 1px;
    text-align: center;
    color: #000;
}

.article_wild_h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: 51px;
    letter-spacing: 0em;
    text-align: center;
    color: #000;
}

.article_wild_p {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 1px;
    text-align: center;
    color: #000;
}

.main_section_thin_2 {
    justify-content: unset;
    align-items: center;

    margin: 44px auto 20px auto;
}

.main_section_article_2 {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 380px;
    width: 100%;
    margin-right: 20px;
}

.article_note {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    max-width: 339.98px;
    width: 100%;
    min-height: 245.75px;
    margin-left: 20px;
}

.main_section_img {
    position: relative;
}

.article_h2.article_note_h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: left;

    color: #000;
}

.article_p.article_note_p {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;

    color: #000;
}

.main_wild_a.article_note_a {
    width: 101px;
}

/* SECTION VIDEO */

.section_video {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;

    max-width: 1160px;
    width: 100%;

    padding: 9px 50px 10px 10px;
    margin: auto;
    margin-top: 25px;
}

.article_post {
    max-width: 540px;
    width: 100%;
}

/* SECTION MARKET */

.section_market {
    display: flex;
    flex-direction: column;

    max-width: 1440px;
    width: 100%;

    margin: auto;
    margin-top: 65px;
}

.market_h2 {
    font-family: "Roboto", sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: center;
    color: #000;
    position: relative;
}

.market_h2::after {
    content: "";
    display: block;
    width: 70px;
    height: 2px;
    background-color: #CFCFCF;
    /*margin: auto;*/
    margin-top: 25px;
    position: absolute;
    left: 50%;
    top: 25px;
    transform: translateX(-50%);
}

.products_item {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;

    width: 100%;
    margin-top: 42px;
}

.lot:hover {
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 2px 2px 5px rgba(41, 44, 61, 0.34);
}

.lot_a {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    max-width: 186px;
    width: 100%;

    text-decoration: none;
}

.lot_img {
    width: 100%;
}

.lot_describe {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;

    width: 100%;
}

.lot_price {
    display: flex;
    justify-content: space-between;
}

.lot_name,
.act_price,
.old_price,
.sold_out {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: center;
    color: #FF4A32;
}

.act_price {
    font-weight: 700;
    color: #FF2121;
}


.old_price {
    color: #000;

    text-decoration: line-through;
}

.sold_out {
    color: #0000004D;
}

span+span {
    margin-left: 4px;
}

/* SECTION ADVANTAGE */

.section_adv {
    display: flex;
    justify-content: space-around;

    max-width: 1440px;
    width: 100%;

    background-color: #000;

    margin: auto;
    padding: 15px 30px 35px 30px;
}

.adv {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    max-width: 330px;
    width: 100%;
    padding: 0px 30px 16px 30px;
}

.adv_h2 {
    font-family: "Roboto", sans-serif;
    font-size: 31px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: center;
    color: #fff;

    margin-top: 5px;
}

.adv_h3 {
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: center;
    color: #fff;

    margin-top: 25px;
}

/* FOOTER */

.footer {
    display: flex;
    flex-direction: column;

    max-width: 1440px;
    width: 100%;


    margin: auto;

    background-color: #F7F7F7;
}

.footer1 {
    padding: 20.09px 120px 19.91px;
}

.footer_wrapper {
    display: flex;
    justify-content: space-between;

    padding: 29.91px 23px 30.09px 10px;
    margin: auto;

    max-width: 1200px;
    width: 100%;
}

.footer_img {
    max-width: 160px;
    max-height: 134px;
    width: 100%;

    margin-right: 240px;
}

.footer_info {
    display: flex;
    flex-direction: column;

    max-width: 379.98px;
    width: 100%;
}

.footer_h2 {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: #000;

    margin-bottom: 10.09px;
}

.footer_info_ul {
    list-style: none;
}

.footer_info_a {
    text-decoration: none;
}

.footer_info_li, .footer_p, .footer_adress_p {
    font-family: "Roboto", sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: #000;
}

.footer_adress {
    display: flex;
    flex-direction: column;

    margin-top: 19px;
}

.footer_info_2 {
    display: flex;
    flex-direction: column;

    max-width: 379.98px;
    width: 100%;
}

.copyr_and_cards {
    display: flex;
    justify-content: space-between;

    padding: 20px 110px;
    width: 100%;

    background-color: #fff;
}

.card {
    max-width: 38px;
    width: 100%;
}

.copyr {
    font-family: "Roboto", sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: #000;

}

.colortext {
    color: #FF4A32;
}