@font-face {
    font-family: 'Roboto', sans-serif;
    src: url(fonts/Roboto-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: open-sans, sans-serif;
    font-size: 16px;
}

/* HEADER */

.header {
    width: 100vw;
}

.header_note {
    background-color: #000;
    width: 100%;


    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 2px;
    text-align: center;
    color: #fff;
    padding: 7px 0 ;
}

.header_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 15px 20.54px 15px 11px;
}

/* .header_logo {} */

.header_logo_svg {
    max-width: 160px;
    width: 100%;
}

/* .header_nav {
    display: flex;
    justify-content: space-between;
} */

.header_nav_ul {
    display: flex;
    justify-content: space-between;
    align-items: center;

    list-style: none;
}

.header_nav_ul-li {
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 1px;
    text-align: left;
    text-transform: uppercase;
    color: #000;
}

.header_nav_ul-li:nth-child(n + 2) {
    margin-left: 23px;
}

.header_nav_ul-li_a {
    text-decoration: none;

    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 1px;
    text-align: left;
    color: #000;
}

.login_and_buy {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_icon {
    width: 16.92px;
    margin-right: 11.08px;
}